[2014-11-26 18:00] jpotts18 opened #1 "Add to cocoapods"

[2014-11-26 18:01] jpotts18 opened #2 "Utilize Generics for Validation Rules"

[2014-11-26 18:02] jpotts18 opened #3 "Add Tests"

[2014-11-26 19:59] nickchuck opened #4 "Real Time Validation"
Would be cool to see real time validation where the boxes turn green when the field has valid data.

Looks great! Nice job Jeff

[2014-11-26 21:58] jpotts18 opened #5 "Optional Validation Parameters to be supported"
Transition to setting values through the constructor instead of through ```Validation.validate(value:String)```

[code]

[2014-12-22 16:13] #4 closed, assigned to nobody

[2015-02-23 02:01] akume opened #6 "organization"
I'd like to use it in my project but the validation classes appear to be mixed with a sample project.  I already have a project and am going to have to go through and extract the files that I need so it may be better to put the library in it's own folder and the sample project referencing in another folder so that people can just dump this in their projects.

[2015-02-23 16:46] jpotts18 commented on #6
Thanks for the suggestion @akume I have updated the repository structure to look like this.

![screen shot 2015-02-23 at 9 42 51 am](https://cloud.githubusercontent.com/assets/2466729/6332090/8d8ed0d6-bb40-11e4-845b-7d398bc8cb43.png)

[2015-02-23 16:46] #6 closed

[2015-02-23 23:13] jkosoy commented on #5
Not sure if this issue would solve it or not, but additionally it would be nice to validate one field against another, such as a "confirm password" field.

[2015-02-23 23:54] jpotts18 commented on #5
@jkosoy I have been thinking about that, but I am not exactly sure how to best implement it. Any suggestions?

[2015-03-06 23:05] #2 closed

[2015-03-06 23:05] #5 closed

[2015-03-07 15:42] orta commented on #1
There's very little unique to swift in writing a podspec: https://github.com/ashfurrow/Moya/blob/master/Moya.podspec

[2015-03-19 13:53] StobyWan opened #7 "Swift 1.2 support"
Noticed that this library needs to be updated for swift 1.2

[2015-03-24 20:03] jpotts18 commented on #7
Hey @StobyWan thanks for the note. I have now updated the library for Swift 1.2 I hope you enjoy the Validator!

[2015-03-24 20:03] #7 closed

[2015-03-24 23:38] StobyWan commented on #7
Awesome!

Sent from my iPhone

[2015-03-25 14:15] ryangilchrist opened #8 "MinLengthRule.swift"
Great library and tool.

Small issue inside MinLengthRule.swift:

func validate(value: String) -> Bool {
        if countElements(value) <= DEFAULT_MIN_LENGTH {
            return false
        }
        return true
    }

should be:

func validate(value: String) -> Bool {
        if countElements(value) < DEFAULT_MIN_LENGTH {
            return false
        }
        return true
    }

[2015-03-25 15:35] jpotts18 commented on #8
I wasn't sure if it should be ``<`` or ``<=`` but I'll make your change until someone else suggests the other way.  Also I have updated my library for Swift 1.2 so ``countElements`` is now ``count``

[2015-03-25 15:35] #8 closed

[2015-03-27 20:54] schan93 opened #9 "Error: filename "AppDelegate.swift" used twice"
Hi, I am trying to use the Swift Validator but I keep getting an error saying that the AppDelegate.swift is declared twice. What i did was I added the Validator folder and the Validator.xcodeproj to the top level of my application. I would imagine because the compiler sees two declarations of AppDelegate.swift in my project, the compiler cannot see the difference between the two files. As a result

[2015-03-27 21:05] jpotts18 commented on #9
An app can only have one AppDelegate.swift. If you put the whole folder in your app it will find two of them and throw an error. You really want to include these files:

![screen shot 2015-03-27 at 3 01 17 pm](https://cloud.githubusercontent.com/assets/2466729/6876962/2e4c0a1a-d492-11e4-903c-ed3e4be6c7a8.png)

Validator, ValidationRule, ValidationError, Rule, and one of the Rules like EmailRule sh

[2015-03-27 22:46] schan93 commented on #9
This is really helpful. Thanks a lot! Really appreciate the clarification.

[2015-03-28 02:08] #9 closed

[2015-04-06 08:21] gberger opened #13 "Use of unresolved identifier 'MinLengthRule'"
For some reason other rules work, but this one doesn't.

[code]

[2015-04-06 08:27] gberger opened #15 "MinLength is not really minimum"
[code]

So if the minimum is 6, and I have 6 characters, it should be valid, but isn't. Only 7 is valid in this example.

The correct should be to use `>=`.

Parallel: the minimum wage is $7.25, so the least you can legally pay someone is $7.25, not $7.26.

[2015-04-06 09:35] gberger commented on #13
Also happens with RegexRule...

[2015-04-06 15:19] jpotts18 commented on #13
Are you using this with a cocoapod?

[2015-04-10 15:37] #15 closed

[2015-04-10 15:43] jpotts18 commented on #13
Looks like I needed to make the class public. Thanks for finding that!

[2015-04-10 15:43] jpotts18 commented on #15
Thanks!

[2015-04-10 19:57] jpotts18 commented on #3
closed with #16

[2015-04-10 19:57] #3 closed

[2015-04-10 19:57] jpotts18 commented on #13
Fixed in #16

[2015-04-10 19:57] #13 closed

[2015-04-15 17:23] glaucocustodio commented on #4
`validateFieldByKey` method was removed here https://github.com/jpotts18/SwiftValidator/commit/abc729aeac9a52a1b018de35cf4afe31eddc57ba#diff-876721a966e4b01738db78808e73a098L35. Why? We cannot more validate a specif field?

[2015-04-15 19:45] jpotts18 commented on #4
I decided to move away from the idea of having keys because I realized that the UITextField or a UIView.tag is a unique way to find it anyways.

If you want to validate a specific field you can always just use any of the rules directly like this.

[code]

[2015-04-22 02:40] datomnurdin opened #21 "Bound value in a conditional binding must be of Optional type in Xcode 6.3"
As per subject, I got this error message on this line of code

[code]

Please advice. Thank you.

[2015-04-22 02:47] jpotts18 commented on #21
The library has changed significantly since this time. What line is the error on?

[2015-04-22 02:48] datomnurdin commented on #21
I already state it inside the question.

[2015-04-22 04:31] jpotts18 commented on #21
Validation Objects have been phased out and replaced with Rules in 2.0

https://github.com/jpotts18/SwiftValidator/blob/master/Validator/PhoneNumberRule.swift

[2015-04-22 19:58] imothee commented on #21
Hi,

This problem still exists even on the code you linked to. What the error is saying is that you are using the if let when there is not an optional type returned.

The valid condition is to not have the if and just use the straight let.

[code]

Xcode Version 6.3 (6D570)

[2015-04-23 11:02] datomnurdin commented on #21
Same goes to this one

[code]

[2015-04-24 10:08] bettimms opened #23 "Validator for TextView?"
Hi,

Is there any plan to add validator for UITextView?!

Thank you

[2015-04-27 08:03] datomnurdin opened #24 "Use of unresolved identifier 'Validator'"
Since I updated my xcode to 6.3.1, I got this error message

[code]

Please advice. Is there any updated library for swift 1.2?

[2015-04-27 08:25] schan93 commented on #21
Can confirm this error. I am also getting this issue.

[2015-04-27 09:47] datomnurdin commented on #21
Please review my pull request here.

https://github.com/jpotts18/SwiftValidator/pull/22

[2015-04-27 15:47] jpotts18 commented on #23
What would you like to validate on a UITextView?

[2015-04-27 15:54] bettimms commented on #23
The same like in UITextField, except that in UITextView we have multiline. So basically the field is required to fill, or contain only string chars and not numbers or special characters etc.
Everything can be done manually old fashion but since we would start let's say with SwiftValidator then it might be nice to keep the consistency and use throughout whole application no matter if it's UITextFie

[2015-04-27 17:06] jpotts18 commented on #23
I could see how others are going to want different views. I think it would probably be good to allow any UIView. I'd be happy to merge this in if you could make that change, write test, and create a PR.

[2015-04-29 04:29] imothee commented on #24
Did you import as
[code]

At the top of your file? 2.0.7 works (after fixing the optional issue) on 6.3.1 with the above Import

[2015-04-29 04:30] datomnurdin commented on #24
Fixed!! Thank you.

[2015-04-29 04:30] #24 closed

[2015-04-30 23:47] jpotts18 commented on #21
Solved with #22 Thanks!

[2015-04-30 23:47] #21 closed

[2015-05-01 00:00] #23 closed

[2015-05-06 17:32] #1 closed

[2015-05-06 17:32] jpotts18 opened #29 "Update Readme"
* Add Documentation for Callbacks
* Add Documentation for Transforms

[2015-05-07 01:06] cameronmccord2 opened #30 "Style Transform callback restructure"
For autocomplete to work on the validationError and validationRule passed back to the transform functions SwiftValidator had to be imported into the callback's file. If the text field, error label, and error message were passed back instead to error and text field, error label passed back to success then that file wouldn't need to import the framework. The autocomplete on Validator().asdfasdf work

[2015-05-14 07:41] violabg opened #31 "Error messages localization"
It look like localisation of error messages is missing.

[2015-05-14 17:24] jpotts18 commented on #31
Feel free to add it and send me a PR!

[2015-06-01 08:36] mla2c commented on #31
Localization of error messages would be a great feature. Any suggestions how to do it?

Perhaps simply extending the changes made in https://github.com/jpotts18/SwiftValidator/pull/32 to all rules (i.e. pass message via convenience init)?

[2015-06-02 02:29] leodasvacas commented on #31
@mla2c That seems like the best way, then it's up to the user to pass in a localized string. The Rule protocol can be refactored to required a get/set errorMessage property.

[2015-06-11 16:38] jdschmitt opened #34 "Support for other input fields"
It can be common to put an "age gate" on a signup form. I'm currently using a switch element for this. It would be useful to be able to add a validation rule that checks `switch.on == true`. I'm going to check that in the validationSuccessful delegate method before I submit the form but that doesn't give me the ability to have the validationFailed delegate method handle the error case for me.

If

[2015-06-11 16:57] jpotts18 commented on #34
We have thought about adding a `preValidation` and `postValidation` method where users can add their own custom validation that is outside the scope of what UITextViews need. Would that solve the issue?

[2015-06-11 17:03] jdschmitt commented on #34
That may work. I guess you would use `preValidation` to block the validation of the `UITextField`s and handle any errors right there in `preValidation`? It wouldn't give me one location to handle all my errors but I could just have functions to handle validation of like input types...one for the standard `UITextField`, one for `UISwitch`, etc...

[2015-06-11 17:05] jpotts18 commented on #34
@cameronmccord2 you mentioned wanting to add a feature like this. What are your thoughts?

[2015-06-18 18:47] willrichman opened #36 "Podspec update"
The ```.podspec``` needs to be updated to a release that includes the most recent pull requests (e.g. custom error message additions).

[2015-06-26 14:44] festaans opened #37 "Swift 2.0"
Hi, any current efforts on updating SwiftValidator to 2.0?

[2015-06-26 16:24] jpotts18 commented on #37
Feel free to send pull requests :)

[2015-06-29 13:57] ed-mejia opened #41 "Error order"
Hi great lib :)

There is an issue with the order returned by the func validationFailed

func validationFailed(errors:[UITextField:ValidationError]) {
    // turn the fields to red
    for (field, error) in validator.errors {
        field.layer.borderColor = UIColor.redColor().CGColor
        field.layer.borderWidth = 1.0
        error.errorLabel?.text = error.errorMessage // works if you added l

[2015-06-29 14:05] leodasvacas commented on #41
From the [Swift docs](https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/CollectionTypes.html):

[2015-07-07 07:06] richardoti opened #43 "Float rule allows letters in input"
If I create a float rule like this:
[code]
And then enter "sdfklnslfd", validation fails. But if I add "64565", so the resulting string in textfield is "sdfklnslfd64565" validation completes with success.

[2015-07-07 09:12] richardtop opened #44 "Make validationSuccess() optional"
Often only the errors are required, so you do not need validationSuccess()  at all. But still, I am required to implement an empty function.

[2015-07-07 09:15] richardtop opened #45 "Return textfield on validation success."
It would be nice to have success/errors states for all the fields, so you could color each field depending on the validation status.

[2015-07-21 04:00] jpotts18 commented on #41
As far as I can see this is a Swift language issue. Thanks for the help @leodasvacas

[2015-07-21 04:00] #41 closed

[2015-07-25 20:11] i-schuetz commented on #37
You should create a branch for that. So far my knowledge we can't do this, only PR on existing branches. Assuming you don't want to stop supporting Swift 1.2.

[2015-07-26 18:15] i-schuetz opened #47 "Why use delegate or callbacks for validation?"
I was wondering about the reason to pass a delegate or callback for the validation. Maybe the reason is to be able to return either success or error.

Instead you could just return an optional error dictionary, so validation result can be easily handled using if let:

[code]

This is much more convenient than having to implement a delegate. A callback is similar, but this is better as I don't see

[2015-08-01 16:49] driver733 commented on #37
+1 for swift 2.0

[2015-08-01 17:00] i-schuetz commented on #37
https://github.com/jpotts18/SwiftValidator/pull/42, https://github.com/jpotts18/SwiftValidator/pull/46

[2015-08-05 14:16] driver733 commented on #44
+1

[2015-08-05 19:26] ndmeiri opened #49 "No such module SwiftValidator"
I've followed the directions in the README to install SwiftValidator, and it seems like SwiftValidator was successfully installed. However, when I try to `import SwiftValidator` at the top of a view controller, a diagnostic appears that says `No such module 'SwiftValidator'`. Is this an issue with the library? I've also tried `import Validator`.

I'm using Xcode 7 beta 4 and Swift 2. So maybe the

[2015-08-05 19:30] ndmeiri commented on #37
+1 for Swift 2

[2015-08-05 19:33] #31 closed

[2015-08-05 19:33] jpotts18 commented on #37
I am going to need some more collaborators on this project is anyone interested in helping out?

[2015-08-05 19:38] ndmeiri commented on #37
@jpotts18 I might be able to help out in the near future, but I'm pretty busy right now. What are your plans for maintaining the project in the short term?

[2015-08-05 20:18] ndmeiri commented on #49
Solved:
The module name was not recognized because the SwiftValidator files were not compiling (with the Swift 2 compiler). After forking, updating to Swift 2, and typing `import SwiftValidator`, the diagnostic disappeared.

[2015-08-07 18:36] richardoti commented on #47
@i-schuetz nice idea!

[2015-08-13 23:31] lawrencefl opened #50 "Getting Duplicate interface definition for class 'AppDelegate' AND Property has a previous declaration errors when adding swiftvalidator delegate method to my uiviewcontroller"
im getting odd errors with one of the swiftvalidator delegate methods
i added swift validator to my podfile
podfile looks as follows

platform :ios, '8.0'
use_frameworks!
pod 'FBSDKCoreKit'
pod 'FBSDKLoginKit'
pod 'SwiftValidator', '2.1.1'

i imported swiftvalidator to my LoginViewController (which is a subclass of UIViewController) by declaring import SwiftValidator

my class is declared as
class

[2015-08-24 15:17] mabeebam commented on #37
+1 for Swift 2.0

[2015-09-11 15:12] houmanka opened #53 "could not find an overload for init that accepts the supplied arguments"
Hi,
I searched a lot for this. No solution :(

When I try to create a custom validator I get this error:
could not find an overload for init that accepts the supplied arguments

in `DOBRule.swift`
[code]
![screen shot 2015-09-12 at 1 11 25 am](https://cloud.githubusercontent.com/assets/391493/9818311/3cc9826a-58eb-11e5-881a-445601e31a30.png)

Thanks

[2015-09-11 15:18] JVSABIM opened #54 "Error ordering?"
Hello, is there any option to order the errors in the Delegate dictionary the same way as the text fields were registered into the validator?

[2015-09-11 20:12] jpotts18 commented on #54
Currently this is not supported.

[2015-09-14 12:28] ir-tech opened #55 "PhoneNumberValidator not public"
Hello, I'm currently using this cool librairy but found something which seems strange to me.

There is a working PhoneNumber-Validator, but it's not usable rightnow because the class is not marked as public. I changed it locally, but maybe this should be fixed on your side, otherwhise the next release will overwrite my changes.

Greetings

[2015-09-14 19:30] jonah-williams commented on #55
I was just looking at this. I suspect the existing phone number rule has been excluded because it is too simplistic (it looks for a 10 digit string). As a result it only works in some countries, for non-international numbers, and requires preprocessing to strip dashes, parens, spaces, and any other characters users might reasonably enter into a phone number input.

A more complete rule might lever

[2015-09-15 23:57] eddwinpaz opened #56 "Can you make it available for Carthage App Manager."
Currently I try to use this library with Carthage but has no success since its not a Shared Scheme.

[2015-09-18 06:43] sumitjain7 opened #57 "How can I use this library without installing through cocoapods"
I want to use SwiftValidator without installing using cocoapods. How to do that?

[2015-09-18 16:42] AdventureOfMar commented on #37
Hello all, I'm new to ios development, is this current branch in development for swift 2.0 or already built for swift 2.0?

[2015-09-21 00:01] houmanka commented on #37
Hi guys, Has this been solved? Swift 2 is officially released? I just got bucket load of failed for this Module? Will there be a chance to update the module for Swift 2? Thanks

[2015-09-21 04:55] jpotts18 commented on #37
The pod has now been updated to Swift 2.0 in the 3.0.0 release. Thanks!

[2015-09-21 04:55] #37 closed

[2015-09-21 04:58] jpotts18 commented on #57
You can clone the repo and use the code just like regular swift files. The core should be easy to reuse for whatever your use case is. The test demonstrate how to call the validations from code without using the validator.

https://github.com/jpotts18/SwiftValidator/blob/master/ValidatorTests/ValidatorTests.swift#L63

[2015-09-21 04:58] #57 closed

[2015-09-21 05:00] jpotts18 commented on #55
I would recommend extending the RegexRule and creating whatever phone number validation you need. I don't really want to bloat this library by adding all potential cases found in the libPhoneNumber-iOS library.

[2015-09-21 05:00] #55 closed

[2015-09-21 05:01] #49 closed

[2015-09-21 05:02] #36 closed

[2015-09-21 05:03] jpotts18 commented on #53
What version of Swift are you using?

[2015-09-21 05:08] jpotts18 commented on #50
Were you able to find a solution to this?

[2015-09-21 05:12] houmanka commented on #53
It was 1.2

Haven`t tested on 2.0 yet.

[2015-09-21 06:09] lawrencefl commented on #50
no. I ended up up just copying the framework manually rather that using cocoapods

[2015-09-22 05:00] c0rn0 commented on #50
I just had the same problem, and the problem is because `AppDelegate.swift` is installed with the pod.

[2015-09-22 15:53] jpotts18 commented on #50
Fixed in `3.0.1`

[2015-09-22 15:53] #50 closed

[2015-10-06 15:03] kyles-15 opened #59 "Border Not Reverting After Successful Validation"
I have a textbox with a minimum length rule of 2. When I add 1 character and validate I get a red border as expected. When I add another character and validate, the border does not revert to black.

Also, is it possible to use UITextViewDelegate to validate the textbox when a user moves to the next textbox? I have tried to use textFieldDidEndEditing and textFieldShouldEndEditing and calling valida

[2015-10-06 15:08] kyles-15 commented on #59
I implemented styleTransformers and the issue is resolved.

[2015-10-07 23:39] AdventureOfMar opened #60 "Quick Question About Customization"
Hello all, I am new to swift development and I'd like to start off by saying thank you for your pod. My question is this; Is there an easy way to add a parameter for field icon? I.E. I'd like to have an icon next to the textfield that changes colors if invalid or valid

[2015-10-09 15:26] jpotts18 commented on #60
This is doesn't exactly show how to use it with my library but the general idea would be something like this.

[code]
Good luck!

[2015-10-09 15:26] #60 closed

[2015-10-09 16:49] AdventureOfMar commented on #60
THANKS SO MUCH!

[2015-10-09 16:50] jpotts18 commented on #60
:+1:

[2015-10-27 09:00] racer1988 commented on #56
Agreed,

    github "jpotts18/SwiftValidator"

inside the Cartfile produces following output

    *** Fetching SwiftValidator
    *** Checking out SwiftValidator at "3.0.1"
    Project "Validator.xcodeproj" has no shared schemes

    If you believe this to be an error, please file an issue with the maintainers at
    https://github.com/jpotts18/SwiftValidator/issues/new

[2015-10-29 17:00] PranKe01 commented on #34
Anything new on validating elements, other than textfields? In my example I have to check if an Array is not empty, or a row in a table is selected.

[2015-11-04 13:14] glaucocustodio opened #65 "Add support to others ui components"
Hi, here in my work, we started using this library, and then, we added support for some inputs beyond than just `UITextField`, like: `UITextView`, `UISegmentedControl` and `UIStepper`:

[code]

Now we are moving to iOS 9 and would like to get the latest SwiftValidator and merge what we have done so far.

My question is: a PR with these changes would be welcome?

Thanks.

[2015-11-22 22:03] #56 closed

[2015-11-23 13:15] racer1988 opened #67 "Carthage Fix #66 still missing a tag"
Hi
#66 and #56 are fixed in master, but Carthage does not see the fix, because last tag in master branch is 3.0.1 which does not include the fix

Can you add a new Tag that contains #66

Thanks

[2015-12-02 11:10] sumitjain7 opened #68 "No such module 'SwiftValidator'"
I am using SwiftValidator for so long. Today suddenly Xcode is throwing build failed and showing error : "No such module 'SwiftValidator'"

I am using Xcode 6.4 (Swift 1.2). I installed Swift Validator using pod
pod 'SwiftValidator', '2.1.1'

Please help

[2015-12-02 20:47] ndmeiri commented on #68
Try a clean and re-build.

[2015-12-07 12:14] lmcd commented on #54
Here's a temporary hack for if your fields are laid out from top to bottom:

    let errorArray = errors.values.sort({
        $0.textField.frame.origin.y < $1.textField.frame.origin.y
    })

[2015-12-12 05:33] jpotts18 commented on #67
I think this is fixed with 3.0.2

[2015-12-12 05:33] #67 closed

[2015-12-12 05:34] jpotts18 commented on #68
I am going to close this issue. Open it again if this is still an issue

[2015-12-12 05:34] #68 closed

[2015-12-12 05:35] jpotts18 commented on #65
I would be interested in seeing these different inputs in SwiftValidator.

[2015-12-12 05:39] jpotts18 commented on #43
Wouldn't you just make sure your input field doesn't allow this keyboard option?

[2015-12-12 05:39] #43 closed

[2015-12-12 05:39] #59 closed

[2015-12-12 05:50] #53 closed

[2015-12-12 05:51] jpotts18 commented on #44
How do you detect if all fields are valid?

[2015-12-12 23:19] richardoti commented on #44
@jpotts18 if there is no errors -> all fields are valid.

[2015-12-12 23:22] richardoti commented on #43
That's the exact point of input validation.
It does not matter, how the information gets to the field.
If the input is invalid, validation should fail. And it doesn't.
So, it is a bug in the library.

[2015-12-18 09:10] mychaelgo opened #69 "Support swift 2?"

[2015-12-18 16:35] jpotts18 commented on #69
This library has supported swift 2 for a while now. Is there a specific bug you are finding or is this just a questions?

[2015-12-18 16:38] mychaelgo commented on #69
I just installed with cocoa pods, then i include the validator but did'nt work, so i clone this repo and copy paste the lib folder

[2015-12-31 16:45] davepatterson commented on #29
I can do this. I'm just no sure as to which callbacks you are referring to.

[2016-01-07 13:03] m-etka commented on #69
In Swift 2, I get this error __argument labels '(delegate:)' do not match any available overloads__ for the line

[code]

Any idea?

[2016-01-10 08:38] ed-mejia commented on #54
Hi, I had the same issue, following @lmcd recommendation I implemented this extension:

[code]

This way we have the ***same tuple value*** returned originally by ***errors*** property but ordered.

[2016-01-12 19:27] glaucocustodio commented on #65
Please, check https://github.com/jpotts18/SwiftValidator/pull/73.

[2016-01-15 00:55] ed-mejia opened #74 "PhoneNumberRule not public"
Hi,

PhoneNumberRule Rule class is not public so is not possible to use it when installing the lib via Cocoapods, and I think the pod version needs to be updated as well.

Best regards!

[2016-01-19 08:00] jernkuan commented on #69
Did you extend ValidationDelegate in the class that contains validator?
You would also need to implement this two functions
    func validationSuccessful()
    func validationFailed(errors: [UITextField:ValidationError])

[2016-01-25 20:02] ldiqual opened #76 "Add ExactLength rule"
I had to make a custom rule that combines MinLength and MaxLength, but I feel like it's a common case that should be supported by default.

[2016-01-25 20:08] ldiqual opened #77 "Allow validation depending on other fields"
Here's the case I'm thinking about:
Two text fields: "driving license state", "driving license number". Validating a driving license number depends on the value of the driving license state, and there's no way to specify that at the moment.

I'm not too sure what the interface should be for such a case. Maybe something like this:

[code]

[2016-01-25 20:17] ldiqual opened #78 "Make .validate(callback) synchronous"
Right now, validating with a callback looks like this:

[code]

Is there any reason to have the validation block based and not just declarative? Like this:

[code]

[2016-01-26 01:54] ldiqual opened #79 "Field without RequiredRule should not go through other rules"
Let's take the case of an optional email address:

[code]

There should be no error when the email textfield is empty.

Maybe `RequiredRule()` should be treated as a special case where, if not in the list of rules, all other rules are skipped? Or maybe have an `OptionalRule`?

[2016-01-26 11:00] vcardins commented on #69
Have just ```validator.validate(self)``` and it will work

[2016-01-29 11:23] hunterlins commented on #69
@vcardins Quick question, where should you place validator.validate(self)? I'm getting an error saying cannot invoke with argument of my ViewController.

[2016-02-02 05:24] ndmeiri commented on #34
@jpotts18 Has there been any update on this?

[2016-02-04 04:43] jpotts18 opened #81 "Looking for Collaborators"
I have not been doing as much Swift and feel like I am neglecting this library. If you are interested in becoming a contributor please comment on this issue. Thanks!

[2016-02-04 04:47] #29 closed

[2016-02-04 04:47] #30 closed

[2016-02-04 05:08] davepatterson commented on #81
Hey @jpotts18 . I would definitely like to be a contributor.

[2016-02-04 05:09] jpotts18 commented on #76
This will be added in next version. Thanks!

[2016-02-04 05:09] #76 closed

[2016-02-04 05:09] jpotts18 commented on #74
Thanks for finding this. I have made this change in the next build

[2016-02-04 05:09] #74 closed

[2016-02-04 05:27] #69 closed

[2016-02-04 05:42] jpotts18 opened #82 "New Validator Design"
1. Run `validator.validate()`
2. Run a method that might check any preconditions by calling `validationWillRun()` - #34
3. Validate fields
   - Run Sanitizers - mentioned in #64
   - Validate each field
4. Call `validator.validationSuccessful()` or `validator.validationFailed()` but make them optional - #44
5. Run a method that checks any postconditions by calling `validationDidRun()`

[2016-02-04 06:22] jpotts18 opened #83 "Increase set of Rules"
Ideas to include
* FQDN
* AlphaRule
* AlphaNumericRule
* IPv4
* ISBN
* Hexcolor

Source

* [Parsely JS](http://parsleyjs.org/doc/index.html#psly-validators-list)
* [Validator JS](https://www.npmjs.com/package/validator#validators)

[2016-02-04 18:19] bhargavg commented on #81
Hi, I would love to be a collaborator for this project.

[2016-02-11 22:43] tnmendex opened #85 "PhoneNumberError"
The example of the phone number don't use the rule phoneNumber

`    validator.registerField(phoneNumberTextField, errorLabel: phoneNumberErrorLabel, rules: [RequiredRule(), MinLengthRule(length: 9)])`

Do you have any example using phoneNumberRule? Because i am having some difficulties

[2016-02-11 23:16] davepatterson commented on #85
Hey @tnmendex, the example indeed does not include the actual `PhoneNumberRule()`. To use this rule, simple add `PhoneNumberRule()` to rules (the last argument in registerField). Sticking with the example, you can change line 55 of `ViewController.swift` to: `validator.registerField(phoneNumberTextField, errorLabel: phoneNumberErrorLabel, rules: [PhoneNumberRule()])`

[2016-02-12 17:34] AtheistP3ace opened #86 "CocoaPod is not same version available on github"
When I pull down from pod install I am not able to call validator.validateField because that function doesn't exist in the code the pod pulled down.

[2016-02-12 17:57] davepatterson commented on #86
I checked and confirmed this as well. But is there any reason that you aren't using `validator.validate`? Calling this will call `validator.validateAllFields` which will, as its name suggests, validate all the fields registered to your `validator`.

[2016-02-12 18:07] AtheistP3ace commented on #86
Well certain fields I want to validate immediately when the user ends editing them. Seemed better to me at the time I was messing around with this to only validate the specific field they were working on instead of continuing to validate every field every time.

[2016-02-12 18:10] davepatterson commented on #86
Understandable. I'm sure @jpotts18 will correct this when he sees it.

[2016-02-12 20:44] jpotts18 commented on #86
@davepatterson Is this something you can handle now that you are a collaborator?

[2016-02-12 20:55] davepatterson commented on #86
@jpotts18 Definitely. I will tackle it tomorrow at the latest.

[2016-02-12 20:58] jpotts18 commented on #86
Awesome! When you are free let's set up a quick chat and lay out a roadmap for this project. My email is jeff.potter6[at]gmail.com add me and we can set up a hangout or facetime.

[2016-02-13 03:51] davepatterson commented on #86
@jpotts18 Yep. My email is davepatterson12@gmail.com, we will definitely chat soon. As for the fix, I added a tag (3.0.3) that is a copy of the master branch so it fixes the issue @AtheistP3ace was having. But unfortunately I am unable to push said tag to CocoaPods because I am not a contributor on the SwiftValidator pod.

[2016-02-13 07:13] jpotts18 commented on #86
This should be resolved now.

[2016-02-13 07:13] #86 closed

[2016-02-13 07:20] #81 closed

[2016-02-13 07:35] keithics opened #87 "pods tvOS support"
[!] The platform of the target `Pods` (tvOS 9.0) is not compatible with `SwiftValidator (3.0.1)`, which does not support `tvos`.

[2016-02-13 07:38] jpotts18 commented on #87
Is this also true on 3.0.3 which was just released? Would this need to be iOS 9? I am not very familiar with tvOS

[2016-02-13 07:40] jpotts18 opened #88 "Add Test Coverage"
* Add this to Travis CI
* Maybe coveralls? SwiftCov?

[2016-02-13 07:42] keithics commented on #87
yes, it also fails in 3.0.3 , i think you need to target tvOS 9.0+ instead of just iOS 9 in cocoapods
but I will try to manually download it and see if it works fine with tvOS. :smile_cat:

[2016-02-13 13:47] AtheistP3ace commented on #86
Thanks for the quick resolution! I'll give it a try later.

[2016-02-13 15:21] davepatterson commented on #88
I can handle adding Travis CI.

[2016-02-14 11:40] freak4pc commented on #86
Same issue for me.
![image](https://cloud.githubusercontent.com/assets/605076/13033481/8381d23e-d320-11e5-8055-8917215a30a6.png)

[2016-02-14 14:57] davepatterson commented on #86
This is actually fixed in pod 3.0.3. Use `pod 'SwiftValidator', '3.0.3'` in your Podfile.

[2016-02-15 01:49] davepatterson commented on #88
I'll look into SwiftCov.

[2016-02-15 04:34] davepatterson commented on #87
@keithics Did manually downloading fix your problem?

[2016-02-15 05:03] keithics commented on #87
yes, it did. no problems so far. :+1:

running tvOS on 9.1

[2016-02-16 07:59] davepatterson commented on #88
I looked into this and for iOS projects codecov seems to be better than coveralls. Also, SwiftCov was not necessary as using `-enableCodeCoverage YES` on `xcodebuild test` is enough to generate the code coverage that codecov uses. See the results in #91

[2016-02-22 03:27] davepatterson commented on #82
Sounds like a good idea. I will upload a pull request with suggestive implementation of this by tomorrow.

[2016-02-23 18:37] AtheistP3ace opened #94 "Custom rule with custom function"
I have an email address field that I am using your email rule on and using the label to display the error message.

As well as checking if its a valid email, your email rule, I have a web service to call and make sure its unique and not associated with another account. I can fake and make it look like its being validated the same way in the system by calling the service and updating the label with

[2016-02-26 02:38] davepatterson commented on #94
Custom Rules are actually something that we have been considering lately. But unfortunately they are currently not supported.

[2016-02-26 04:34] jpotts18 commented on #94
They all inherit from rule. Just make a subclass and create your own rule.
On Feb 25, 2016 7:38 PM, "David Patterson" <notifications@github.com> wrote:

[2016-02-26 06:20] davepatterson commented on #94
I actually meant to say remote rules. I've been meaning to ask you about them. Are they something you've considered? Or would you say that they're beyond the scope of SwiftValidator?

[2016-02-26 06:28] jpotts18 commented on #94
This might be a case for making a rule that accepts a closure that returns
a Boolean. I think someone commented about this in one of the issues. I
think he called it DynamicRule. #77

On Feb 25, 2016 11:20 PM, "David Patterson" <notifications@github.com>
wrote:

them. Are they something you've considered? Or would you say that they're
beyond the scope of SwiftValidator?

[2016-02-29 20:27] davepatterson commented on #94
For sure. I'm working on a pull request that helps out here. I won't merge it without your approval @jpotts18 but hope you look at it if you get time.

[2016-03-02 06:15] #88 closed

[2016-03-02 06:30] #87 closed

[2016-03-02 06:50] #85 closed

[2016-03-02 06:51] #83 closed

[2016-03-02 06:55] jpotts18 opened #96 "Host Documentation with Github Pages"
I really think we need to get all of your great documentation out to the world @davepatterson!

[2016-03-04 05:34] davepatterson commented on #96
For sure. I have been meaning to set it up but it always slips my mind. It will be up very soon.

[2016-03-04 13:59] mabeebam commented on #45
I totally agree!

Idea to solve it: Extend validation delegate with optional
[code]

[2016-03-06 18:39] davepatterson commented on #96
I added docs to Github pages in #99.

[2016-03-06 18:39] #96 closed

[2016-03-13 10:22] faris-mobile89 opened #101 "import SwiftValidator into ObjC project"
I have an issue with importing into existing objective c project

[2016-03-13 21:42] davepatterson opened #102 "Update docs to reflect updated codebase"
- Document new methods, variables.
- Add codecov
- Fix demo gif

[2016-03-17 06:42] ryan-blunden commented on #65
I've checked #73 and the added support for UITextView is essential for a project I'm working on.

[2016-03-18 15:34] davepatterson commented on #94
@AtheistP3ace check out the remote-validaiton branch and see if that's good enough for your dynamic validation.

[2016-04-07 20:47] davepatterson commented on #102
Will finish documentation by tomorrow. Fixed demo gif today (yes, I deserving of a cookie).

[2016-04-10 04:57] xgalaxy commented on #45
Your idea won't work because validationSucceeded is only called once per .validate call and if there are are some valid and some invalid fields only the validationError function is triggered. So your valid fields won't turn green with this approach.

You can achieve what you want with the codebase as it exists already by using the styleTransformers function. See the example app for exactly what yo

[2016-04-10 05:05] xgalaxy opened #103 "OS X support?"
Would love it if this supported NSTextField and NSLabel. Not sure what abstraction would be necessary to achieve this. Perhaps have OS specific versions of registerField gated behind a compile flag which take either NSTextField and UITextField. Hide the NSTextField or UITextField behind a protocol that lets you get and set the text. Then the rest of the code base just talks to the protocol instead

[2016-04-10 06:26] davepatterson commented on #45
I worked on a solution for remote validation on the remote-validaiton branch. Instructions for implementing it is in said branch's ReadMe.

[2016-04-11 11:51] kiwo12345 opened #104 "check if specific field failed validation"
Is there any way to check if a specific field has failed the validation?

I am not using borders for my textfields. Instead I have a UIView styled as a line under my textfield, and I would like to color it red when the textfield fails validation.

And big thanks for sharing this lib!

[2016-04-11 12:56] davepatterson commented on #104
Have you tried implementing the validationFailed delegate method? It is called whenever you try to all fields in a form. As a parameter, it has a dictionary of UITextField:ValidationError type. You can use this to see which fields validation failed on.

[2016-04-11 13:58] kiwo12345 commented on #104
@davepatterson thanks for the help.

But how do I check what field using:
func validationFailed(errors:[UITextField:ValidationError]) {

}

[2016-04-11 14:07] kiwo12345 commented on #104
@davepatterson I got it working using:
[code]

Thanks for the help!

[2016-04-12 21:30] kiwo12345 opened #105 "Using validationSuccessful() with multiple validators"
If I am using two validators eg:

[code]

Can I then see which one is calling the `validationSuccessful()` function?

I have two forms and each toggling their own API call, thats why I need two.

Thanks

[2016-04-15 15:13] davepatterson commented on #104
Nice! Glad I could help! 👍

[2016-04-15 15:13] #104 closed

[2016-04-15 23:01] #102 closed

[2016-04-16 15:49] kiwo12345 commented on #104
@davepatterson I went with this instead:

[code]

That way I didnt have to check the failed each time in a foor-loop like in my prev code. Thanks!

[2016-04-16 17:26] davepatterson commented on #105
Did you ever figure out anything here?

[2016-04-22 15:14] w007up opened #108 "Validator returns all error messages associated with textfield"
Hi Is there a way where the validator returns all the error messages associated with the textfield rather than just returning the error message associated to the first rule that it fails on?

For example a text field has a RequiredRule(), MinLengthRule(6), RegexRule(1digit), RegexRule(1letter).

When the user focuses on this textfield a message is displayed stating:

"This is a required field. Min

[2016-04-27 15:59] mcka commented on #54
I had to add superview

	let errorArray = validator.errors.values.sort({
	    $0.textField.superview?.superview!.frame.origin.y < $1.textField.superview?.superview!.frame.origin.y
	})

[2016-04-28 14:05] MartijnSchoemaker opened #109 "Add tag for version 3.0.4"
Could you please tag the latest master as version 3.0.4? I want the latest version updated by Carthage.

[2016-05-02 14:48] ishaq commented on #47
+1

[2016-05-05 17:04] otymartin opened #110 "Cant use AlphaNumericRule"
Hey @jpotts18

For some reason I can't all the `AlphaNumericRule` in this bloc.

[code]

[2016-05-09 18:50] davepatterson commented on #110
Hey @otymartin. How did you install SwiftValidator? Was it via Cocoapods or did you download the zip from the master page?

[2016-05-09 19:26] davepatterson commented on #109
Sorry about the late response but 3.0.4 is now consistent with the master! 😄

[2016-05-09 19:26] #109 closed

[2016-05-09 20:27] otymartin commented on #110
CocoaPods @davepatterson

[2016-05-09 20:56] davepatterson commented on #110
This is the result of the latest CocoaPod not being consistent with master branch. I have your pod be updated with the master use `pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'master'`in your Podfile.

[2016-05-09 20:58] #110 closed

[2016-05-09 21:08] otymartin commented on #110
That worked greats - thanks @davepatterson
The fact that it downgraded versions `Installing SwiftValidator 3.0.1 (was 3.0.3)` is no issue?

[2016-05-10 19:58] davepatterson opened #112 "Add support for UIViews other than UITextField"
@glaucocustodio and @dadalar,

I understand that both of you have each proposed ways to go about extending this library beyond UITextField. This is definitely something that I'm too interested in. In fact, the only thing that kept me from merging your PR @glaucocustodio was your lack of code coverage. Tonight, I intend to read through your proposal @dadalar. In the meantime, I'm welcome to any com

[2016-05-12 02:25] davepatterson commented on #108
There actually is not as of right now. `ValidationRule`'s validateField() method only returns the first one that fails. Here's the code snippet:

`return rules.filter{ !$0.validate(self.textField.text ?? "") }
                    .map{ rule -> ValidationError in return ValidationError(textField: self.textField, errorLabel:self.errorLabel, error: rule.errorMessage()) }.first`

[2016-05-12 02:41] davepatterson commented on #103
Perhaps this is something that we will consider in the future but it isn't currently on the radar. I honestly have never even done dev work in OS X.

[2016-05-12 07:33] dadalar commented on #112
First of all, no matter how, it would be a major version update with breaking changes. I tried to keep it minimum though.

Current structure of SwiftValidator is very limitive because it depends on UITextField class. @glaucocustodio's pr is about adding supprt for more classes. For me, it's still limitive. Not only you need to make changes on the library if you extend with more classes, it'll also

[2016-05-12 08:33] racer1988 opened #115 "EmailRule does not support new ICANN standard"
Hello,

current [Swift Validator Email](https://github.com/jpotts18/SwiftValidator/blob/master/SwiftValidator/Rules/EmailRule.swift) is doing:

    static let regex = "[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,6}"

ICANN allowed arbitrary domain names some time ago
eg:
https://opensource.careers/

So the ending should be changed to accomodate that change.

[2016-05-12 08:59] racer1988 commented on #108
@w007up  You can do what you just said by using a single regex rule satisfying all the rules

    ^(?=.*[0-9])(?=.*[a-zA-Z])(.{6,})$

you can test it here
https://regex101.com/r/iI5uR2/1

I would suggest to use this for complex rules with one single message, and close this issue instead?

[2016-05-12 09:14] racer1988 commented on #79
You are using a Swift Validator Email Rule
Email rule checks that there is valid email rule inside the textfield.
Which implies that the textfield has to have something inside.

In this case what you want to do is using a custom Email Rule where the check is that there is either a Email or nothing.

This can be done with an alternative Regex.
Maybe you could create a optionalEmailRule and submit i

[2016-05-12 12:15] glaucocustodio commented on #112
I can keep improving my PR, but I need to know if you intend to merge it or not (I don't want spend my time in vain). Given this is OSS, it is supposed to be improved with time. @davepatterson

[2016-05-12 20:45] davepatterson commented on #108
@racer1988 I understand your suggestion of using a regular expression that includes all the rules but I think what @w007up was asking is how will he notify which rule has failed. The regular expression will just display the same error message each time. For example, say a user types one letter (thus fulfilling two of the requirements of the regular expression) but doesn't satisfy the other constra

[2016-05-12 23:09] ldiqual commented on #79
@racer1988 Thanks for the followup. I ended up create my own validation code with an optional flag to skip fields if they're null. Closing this issue.

[2016-05-12 23:09] #79 closed

[2016-05-13 08:15] racer1988 commented on #108
Ah ok, he wants multiple strings to be concatenated and removed based on the active validation.

That is a nice improvement but requires quite some new work on the validation part.
maybe it could be a separate validation method

[2016-05-13 19:02] #115 closed

[2016-05-16 21:00] davepatterson commented on #112
@glaucocustodio I understand where you're coming from but I must admit that your PR is a bit clunky and contains a fair amount of replicated source code. I'm going to have to say that I'm siding with @dadalar as his protocol based approach is more Swift-esque. If you have time, I recommend that you check it out #111  😄

[2016-05-18 12:31] glaucocustodio commented on #112
@dadalar's approach seems much better. I tried to use protocols, but I failed. I think would be nice if he could write more extensions beyond `UITextField`'s (`extension UITextField: Validatable`).

[2016-05-18 13:13] davepatterson commented on #112
Definitely. I already have a few extensions. I am going to submit a PR after I merged @dadalar's. I was just waiting for your feedback first @glaucocustodio.

[2016-05-18 13:18] glaucocustodio commented on #112
Lets merge it! 🎉

[2016-05-19 03:27] davepatterson opened #117 "Add extensions for other UIViews"
Will be done using the validatable protocol.

Note: never mind this one guys as this is simply a reminder for myself.

[2016-05-21 23:47] davepatterson commented on #108
For sure. It will definitely require a separate validation method as the current one only returns the first rule that fails.

[2016-05-24 11:33] kevinonik opened #119 "TextField border color"
Can we customize the textfield border color?

@jpotts18

P.S: Your library saved alot of time. Thanks alot

[2016-05-24 11:35] kevinonik commented on #119
My bad i just saw them :D Sorry :)

:

[2016-05-24 11:35] #119 closed

[2016-05-26 16:37] AtheistP3ace commented on #94
Hey I am really sorry. Work has been crazy and I have been meaning to get back to this. Today is that day. So I grabbed the remote-validation branch and moved all the changes into my code. I registered the field with remoteInfo and implemented ValidationDelegate function remoteValidationRequest. I also implement the ValidationDelegate protocol but that optional function is never called. Not sure i

[2016-05-26 19:47] AtheistP3ace commented on #77
+1 for this. I wrote a custom rule to handle validating that two password fields are equal and it works just not as great as I would like it to since it only shows one field as failing validation right now. Would be nice when they fail both show the error and when they pass both clear the error display.

[2016-05-29 20:36] davepatterson commented on #117
Fixed in #118

[2016-05-29 20:36] #117 closed

[2016-05-29 20:38] davepatterson opened #120 "Add Instructions for using ValidatableProtocol"
In readme add a few lines showing how users should ValidatableProtocol.

[2016-05-30 09:19] dadalar commented on #120
Also, some delegate method parameter types are changed. Readme file should be updated accordingly. Since this breaks 3.x versions, I suggest giving new version 4.0

`func validationFailed(errors:[UITextField:ValidationError])`
is now tuple:
`func validationFailed(errors: [(Validatable, ValidationError)])`

[2016-05-31 15:36] otymartin opened #121 "Does not conform to ValidationDelegate after pod Update"
@jpotts18 @davepatterson
```pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'master'```

I've been using this for a month now. Today I just ran a quick `pod update`
```Installing SwiftValidator 3.0.1 (was 3.0.1)```
All my view controllers using this library complained that i did not conform to the `ValidationDelegate`

I tried installing other versions `I

[2016-05-31 17:38] davepatterson commented on #121
Sorry about that. The master branch actually has the code of version 4.0.0, which adds support for validating fields other than UITextField. Unfortunately upgrading to 4.0.0 breaks 3.x.x, which is the version that master was using before. I recommend updating your code to be consistent with 4.0.0 as it has support for other views. But if you don't want to do that, installing tag 3.0.5 will fix you

[2016-05-31 17:38] #121 closed

[2016-06-06 12:48] fmaxx opened #123 "fix your specs please"
FROM:

    // turn the fields to red
    for (field, error) in **validator.errors** {
        if let field = field as? UITextField {

TO:

    // turn the fields to red
    for (field, error) in **errors** {
        if let field = field as? UITextField {

[2016-06-09 11:05] txaiwieser opened #125 "Validator Fields with Mask"
Is it possible to have a Validator field with a regex mask? like "xxx-xxx-xxxx"
I want it automatically adds the extra characters. If the user inputs "1234567890" it shows "123-456-7890" but without compromising the validations.
Any tips?

[2016-06-10 15:27] AtheistP3ace opened #126 "remote validation doesn't always call delegate validationFailed when regular validation fails"
If I have a field, lets say email, which has the required rule and calls a remote validation to make sure the email doesn't exist.

When I call validator.validate() to validate all the fields. When a field has a remote validation it is first checked to see that it passed regular validations first before the remote validation is validated. If the field fails regular validations it never executes th

[2016-06-18 18:37] black-lotus opened #127 "validationFailed error is not ordered"
my validations :
[code]

when i catch and print out error on delegate method it's not ordered as i register the fields
[code]

Thank you

[2016-06-19 06:27] antonyalkmim commented on #127
I did have the same issue

Try this:
[code]

[2016-06-20 16:50] black-lotus commented on #127
Nice ;)
i didn't to think about it

Thank you

[2016-06-20 16:50] #127 closed

[2016-06-30 04:13] davepatterson commented on #123
I definitely missed this. Thanks for fixing @theoziran! 😄

[2016-06-30 04:13] #123 closed

[2016-06-30 04:24] davepatterson commented on #120
Is fixed in #124 and previous readMe edits that I have done.

[2016-06-30 04:24] #120 closed

[2016-07-02 16:22] dkrusenstrahle commented on #69
I have the exact same problem. Any ideas?

[2016-07-05 04:00] waqqas-abdulkareem commented on #54
I tried @ed-mejia 's suggestion but got the following error (Swift Validator Tag v4.0.0):

In case anyone else has the same issue, this worked for me:

[code]

[2016-07-29 03:45] ed-mejia opened #132 "Swift 3"
Hi guys, any plan to upgrade the library to support 3.X ?

[2016-08-04 14:56] SebastianBoldt commented on #132
+1

[2016-08-08 07:37] ed-mejia commented on #132
I Did the migration to Swift 3 Xcode beta 4, [here](https://github.com/ed-mejia/SwiftValidator/tree/swift3)

If you guys create a swift 3  branch I could pull request to merge it

[2016-08-15 18:28] kiwo12345 opened #133 "Validation always run even when not set to required"
I am checking if a textinput for price starts with 0 like:

[code]

The only problem is that the error always show up, even if I have not typed anything in the textfield

[2016-08-15 18:36] #133 closed

[2016-08-15 18:58] kiwo12345 opened #134 "Is there a way to not run validation on fields without RequiredRule beside unregisterField"
Is there a way to not run validation on fields without RequiredRule beside unregisterField?

[2016-08-16 18:22] davepatterson commented on #132
@ed-mejia I created a swift-3 branch so you're all set to PR. :100:

[2016-08-16 18:23] davepatterson commented on #134
Can you give an example here? I'm not exactly sure what it is that you're asking.

[2016-08-17 14:02] sumitjain7 opened #136 "Extend the RequiredRule Class"
I want to change the validate(value:String) method in RequiredRule.swift class.
It should first trim all whitespaces then should check for isEmpty.

For this I want to create a String class extension like this:

[code]

and then change the validate method like this:

`public func validate(value: String) -> Bool {
        return !(value.trim().isEmpty)
    }`

Suggest me how to do this.

[2016-08-17 17:15] davepatterson commented on #125
I think a textField mask is beyond the scope of this library as it really has nothing to do with validation but the appearance of the text. That being said, there are open source projects on github that accomplish just what you're looking for. One off the top of my head is [!link]https://github.com/artemkrachulov/AKMaskField

[2016-08-17 17:18] #125 closed

[2016-08-19 11:22] vdeep opened #138 "Podspec deployment target changed"
The deployment target is 10.0 in podspec? This is in tag 4.0.1

[2016-08-19 13:05] davepatterson opened #139 "Travis CI wrong directory failure"
For some reason Travis fails when trying to build with the xcode8 image. Because of this, we're unable to establish a swift3.

[2016-08-19 13:05] davepatterson commented on #138
Oh disregard tag 4.0.1 as it was created as an attempt resolve #139

[2016-08-19 13:10] #138 closed

[2016-08-19 13:21] davepatterson commented on #139
![image](https://cloud.githubusercontent.com/assets/8164764/17810969/d64ce92e-65e5-11e6-8881-b38921988a11.png)

[2016-08-22 12:27] antonioreyna opened #140 "Set password regex as init parameter"
Optionally it would be great if you can pass a regexp when setitng the password rule.

[2016-08-23 23:20] davepatterson commented on #140
Hi @antonioreyna,

You actually can set the regex when initializing the password rule. Have you tried `PasswordRule(regex: "regex", message: "validation failure message")`?

[2016-08-23 23:22] antonioreyna commented on #140
but i checked the code, and my PasswordRule class initializer looks like this:

[code]

[2016-08-23 23:24] davepatterson commented on #140
Yeah, that's the convenience initializer. The following line is: `self.init(regex: PasswordRule.regex, message : message)`. It's this line that allows you to do so. Try it out in Xcode. It should work. 💯

[2016-08-23 23:29] antonioreyna commented on #140
It worked!! thank you!! im sorry i dont understand swift very well yet, i dont know what that convenience is :) but it works with he regex attribute.

[2016-08-23 23:32] #140 closed

[2016-08-23 23:36] davepatterson commented on #140
**Per Apple's documentation:**

Class Inheritance and Initialization

All of a class’s stored properties—including any properties the class inherits from its superclass—must be assigned an initial value during initialization.

Swift defines two kinds of initializers for class types to help ensure all stored properties receive an initial value. These are known as designated initializers and conveni

[2016-08-31 06:31] piv199 opened #141 "RegexRule uses NSPredicate instead of NSRegularExpressions"
Hm.. Does this really works for real regexps? As far as I know, NSPredicate has limited set of regexps.

[2016-08-31 12:05] webdevotion opened #142 "expected declaration"
Starting from version `4.0.1` we started to get this issue on our CI server ( and after inspection also on our local test runs with this version ).

[code]

Reverted back to `3.0.5` and all is good again.

[2016-09-05 13:52] jaysoifer opened #144 "Unable to install with Carthage"
Hi,

I've been trying to install SwiftValidator for some time now and, although I'm inexperienced, it seems to me that the issue might not be my fault 😀 ...

    $ xcodebuild -version
    Xcode 7.3.1
    Build version 7D1014```

    xcode-select -p
    /Applications/Xcode.app/Contents/Developer

This is the log:

    *** Fetching SwiftValidator
    *** Checking out SwiftValidator at "4.0.1"
    **

[2016-09-05 14:04] jaysoifer commented on #144
Just a heads up, I went ahead and installed Alcatraz. Still not working...

BTW, is Alcatraz a dependency? I feel like I missed something...

Updated error message (pretty much the alcatraz line is gone, that's it):
[code]

(The list of errors goes on, this is just a reference)

Also, not sure if this helps:

[code]

[2016-09-14 09:55] yanakend commented on #144
@jaysoifer
I got same error.
https://github.com/jpotts18/SwiftValidator/commits/4.0.1
Probably, SwiftValidator supported swift3. you can see at above link.
So you should change
[code]

[2016-09-14 17:35] qgliu commented on #132
any timeline to merge the swift 3 support to master?

[2016-09-15 19:17] ossmalpha commented on #132
@qgliu I don't know when it is going to be pushed, but I can let you know that code on swift3-dave branch is working with Swift 3 on Xcode 8 - I just tested it in a new project.

Use this in your Podfile:

`pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'swift3-dave'`

[2016-09-15 21:54] ossmalpha commented on #132
Got the following error while I was trying to install pods using iOS version that is older than 10.0. Can it be modified that it can run on older operating systems as well?

[2016-09-17 23:36] dhamukrish commented on #132
Even `swift3-dave` is not working now. Please advise as I am getting below error.

[code]

[2016-09-19 08:33] cihadhoruzoglu opened #147 "Swift 2.3 Support"
Is there any plan for support Swift 2.3?

[2016-09-20 11:29] davepatterson commented on #144
Did @yanakend's suggestion resolve your issue @jaysoifer?

[2016-09-20 15:03] dhamukrish opened #148 "Pod failed to install iOS 8.4 target"
Pod failed to install on iOS 8.4 target and below is the error

**Pod Entry**
`pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'swift3-dave'
`

**Error Message**
[code]

[2016-09-21 01:57] yanakend commented on #144
@davepatterson
sure. My env is same his version.
[code]

[2016-09-23 16:26] Lweek commented on #132
Hi! I have written it to all Swift 3 pull requests but I gonna repeat it even here. If you change public to open for all Rule classes and its methods, it will let us modify functionality for app specific purposes. I believe that it is expected behavior and thus required before merge. Thank you! :)

[2016-09-24 13:51] dhamukrish commented on #148
Could you please advise on this

[2016-09-26 03:14] jpotts18 commented on #45
That was the intended purpose of styleTransformers, they haven't been very well documented. thanks @xgalaxy

[2016-09-26 03:14] #45 closed

[2016-09-26 03:15] jpotts18 commented on #142
Looks like this is an XCode8 issue that broke things. This is referenced all over the place so I'm going to close this.

[2016-09-26 03:15] #142 closed

[2016-09-26 03:15] jpotts18 commented on #103
@xgalaxy Are you interested in contributing?

[2016-09-26 03:17] jpotts18 commented on #34
I believe this has been accomplished in #117

[2016-09-26 03:18] jpotts18 commented on #65
I believe this functionality has been added in #118

[2016-09-26 03:18] #65 closed

[2016-09-27 13:41] racer1988 commented on #132
Can we merge the PR about Swift 3...
it is getting a bit late now

[2016-09-28 10:01] leizard commented on #132
+1 please I need it too..

[2016-09-28 13:37] dhamukrish commented on #132
I have now moved other framework (https://github.com/adamwaite/Validator) due to this dependancy issue.

[2016-09-28 16:46] gbejarano01 commented on #147
I just submitted a PR #151, for addressing this, but I see there are 12 PR pending approval... not sure if this is going to be picked up.

[2016-09-29 11:17] jaysoifer commented on #144
@davepatterson and @yanakend Sorry for the late reply. I ended up updating xCode recently and that invalidates my question. According to @yanakend I imagine it's ok to close this issue.
Thank you

[2016-09-29 11:17] #144 closed

[2016-09-29 20:28] n8stowell82 commented on #132
@dhamukrish how long did it take to convert over? Thinking about doing the same.  can't afford to wait much longer

[2016-09-29 23:52] dhamukrish commented on #132
@n8stowell82 I have taken 2-3 hours including understanding of framework for first Form

[2016-10-03 00:53] ed-mejia commented on #132
Seems like Swift3 branch will never make into master not even merged at all.

Most of the trending open source libs out there have updated master to Swift3 and this _(which is a trending one too imho)_ is still struggling ...

I really don't like the idea to move to a different project, is there anything we can do to actually make this happen?, the project seems hard to move forward.

[2016-10-05 06:03] davepatterson commented on #132
@ed-mejia I fixed the travis issue we had with xcode8 so a swift 3 master is right around the corner. The travis problem is the only thing that was holding us back.

[2016-10-05 06:13] davepatterson commented on #139
Updating cocoapods on travis fixes this. To do so add the following to .travis.yml

`before_install: - gem install cocoapods -v '0.32.1'`

[2016-10-05 06:13] #139 closed

[2016-10-05 14:03] bilawal-liaqat opened #159 "Is SwiftValidator compatible to Swift 3 ?"
Pod updated to Swift3
pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'swift3'

but still getting many errors

before it I used "swift3-dave" with lot of errors

[2016-10-05 14:08] davepatterson commented on #159
Have you tried the swift-3 branch?

[2016-10-06 00:07] ed-mejia opened #160 "Branch maintenance"
Hey, It is possible to do a quick maintenance on the branches? actually it's looking like this:

![screen shot 2016-10-06 at 11 03 32 am](https://cloud.githubusercontent.com/assets/7431094/19135995/ad97beb0-8bb4-11e6-9104-1e6aafe9ca2b.png)

We can see swift-1.2 branch, 3 different branches for swift 3 😩, the main branch is still not pointing to swift 3 which imho should be the root right now and n

[2016-10-06 00:44] davepatterson commented on #160
That's mostly my fault. I remember a time when you could delete branches after merger but I'm no longer able to do so.

[2016-10-06 00:48] davepatterson commented on #160
In the meantime, I'm going to update the readme to detail which branches should be used.

[2016-10-06 04:26] davepatterson commented on #147
You can merge on the swift-2.3 branch to fulfill this. I noticed in your previous PR that Travis fails. This is likely because you are using an old version of cocoapods by default. This should be fixed by adding the following to travis.yml `before_install:
  - gem install cocoapods -v '0.32.1'`

[2016-10-06 05:08] davepatterson commented on #148
Which version of swift are you trying to use?

[2016-10-06 08:33] bilawal-liaqat commented on #159
swift-3 branch working .
 Can you please remove other branches for swift 3 so developer dont get confused.

[2016-10-06 13:54] dhamukrish commented on #148
Swift 3

[2016-10-06 13:56] davepatterson commented on #148
The master is now written in compliance with Swift 3. I updated the README with details of the different active branches.

[2016-10-06 13:56] #148 closed

[2016-10-06 15:30] gbejarano01 commented on #147
Thanks @davepatterson Unfortunately it looks like I can't merge as I have no permissions, also, now the PR has conflicts because it looks like someone pushed some changes on `master`.

How do you like to proceed'

[2016-10-06 22:20] kiwo12345 opened #162 "cannot inherit from non-open class RegexRule outside of its defining module"
[code]

Must RegexRule be open instead of public? :

[2016-10-09 16:11] #160 closed

[2016-10-10 15:01] kompw commented on #162
+1)

[2016-10-12 08:33] happiehappie commented on #162
+1

[2016-10-19 15:15] leizard commented on #159
I tried swift 3 branch and it works perfectly. Thank you for migrating!

[2016-10-19 15:17] leizard commented on #132
I tried the swift 3 branch and it works perfectly. My app has the form validation again. Thank you for all your work.

[2016-10-28 15:28] Arti3DPlayer commented on #103
+1

[2016-10-30 14:51] rupalchawla commented on #159
Its not working for me, can anyone help. I used both of them below as mentioned in document but still many errors

pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :tag => '3.0.5'
pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :tag => '4.0.0'

[2016-10-30 14:56] rupalchawla commented on #159
Nevermind, i was looking in the document of branch swift-3, instead i had to look under master. This one worked
pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'master'

[2016-11-04 12:51] PranKe01 commented on #132
What about making the version 4.0.1 the master? I tried to install using pod 'SwiftValidator', '~> 4.0.1' but that didn't worked :( I had to use the :git and :tag informations...

[2016-11-14 15:34] cikpis commented on #162
+1

I need to extend Validator class.

[2016-11-14 15:38] cikpis opened #167 "cannot inherit from non-open class Validator outside of its defining module"
Hey guys,

would be nice to have the inherit even in Validator class. I need to extend some functionality. I believe that changing "public" to "open" is the magic.

Carmelo

[2016-11-16 15:25] srmds commented on #162
👍 👍 👍 👍 👍 👍

[2016-11-21 23:41] russellchapin opened #168 "Carthage skips build for "iphonesimulator" SDK in XCode 8.1"
Get the following message when running `carthage update --platform iOS --no-use-binaries`:

`WARNING: Skipping build for "iphonesimulator" SDK because the necessary signing identity "-" is not installed`

Project fails when building for simulator. The module imports fine, but there is an error when trying to reference Validator:

`Use of unresolved identifier 'Validator'`

I tried re-downloading m

[2016-11-22 00:30] russellchapin commented on #168
Solved by opening Validator.xcodeproj and signing with my own cert for the project and all the targets, then rebuilding with `carthage build --platform iOS`

Not sure why I have to manually sign this dependency, don't have to do that for any other ones. Is this just my problem?

[2016-11-23 21:23] #168 closed

[2016-11-24 11:48] bharath555vasu opened #169 "'UIViewController' does not conform to protocol 'ValidationDelegate'"
Unable to delegate Protocol "**ValidationDelegate**" required UIViewControlled. I am getting this error, it would be great help if any one known how to over come this error.

Thanks

[2016-11-25 19:07] nalogowiec opened #170 "problem with regex for letters and numbers only"
I'm adding regex for escaping anything that is not a number or letter.

This is my rule:

`validator.registerField(usernameTextField, rules: [RequiredRule(), FullNameRule(), RegexRule(regex: "\\w"), MaxLengthRule(), MinLengthRule()])`

It does not work and always fails. Why?

[2016-11-28 06:25] C6silver opened #171 "Pod install breaks field level actions in Storyboard"
When installing via pods field level actions in the SB are no longer available.  For existing fields that have actions, you get a yellow warning icon that when you hover over it says: "UITextField is no longer a valid event source".  You only get 3 "Received Actions" related to "toggleBoldface, toggleItalics, and toggleUnderline".  All other actions are no longer available.

This is upon install w

[2016-11-30 10:53] davepatterson commented on #162
This was fixed in #158

[2016-11-30 10:53] #162 closed

[2016-12-04 09:57] piv199 commented on #132
pod 'Validator' works like a charm, could be closed?

[2016-12-07 13:13] danielborges93 opened #172 "Please, release the last tags into cocoapods!"
We have a lib that depends you and we can't run codes in swift3. We depend the tag 4.0.0.

[2016-12-07 14:34] davepatterson commented on #172
Have you tried using `pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'master'`?

[2016-12-07 14:45] danielborges93 commented on #172
Yes, but it do not solve the problem. I use a library that have the dependency `s.dependency 'SwiftValidator'` and when I run `pod install`, cocoapods always downloads the version 3.0.3 (that is [the last on the cocoapods spec](https://cocoapods.org/pods/SwiftValidator)).

[2016-12-07 14:51] danielborges93 commented on #172
OBS.: My code is in Swift3.

[2016-12-07 15:28] davepatterson commented on #172
So what is it that you're asking me? To create a new tag that mirrors master, which is written in Swift3? Because I definitely can't change tag 4.0.0 to be compatible with Swift3.

[2016-12-07 19:22] apprisingapps commented on #167
I am having this issue in subclassing RegexRule as in the documentation example for a project in Swift 3.  Carmelo indicates what the Swift 3 docs purpose as a solution.

[2016-12-07 20:14] danielborges93 commented on #172
No, I am asking to release the tag 4.x into cocoapods. [You have a lot of releases after 3.0.3](https://github.com/jpotts18/SwiftValidator/releases), but the [last cocoapods release is the 3.0.3](https://cocoapods.org/pods/SwiftValidator).

I've tried to force cocoapods to download the branch `master` in my Podfile (`pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :

[2016-12-13 08:33] smamczak commented on #167
Please make Validator class "open" for swift 3

[2017-01-05 22:10] dennisoverbeeke commented on #171
I have encountered the same problem and after a loooong search I found that Xcode 8 has problems with the use of Extensions (example: https://forums.developer.apple.com/thread/66022). After more searching I found this thread.

I tested the same as @C6silver did and indeed: when I remove the SwiftValidator from my project everything returns back to normal. Please investigate and fix if possible. I

[2017-01-10 19:40] AtheistP3ace commented on #94
Any update on this? This functionality is great. Any chance of it being officially released? And in the Swift 3 branch?

[2017-01-12 10:24] finddoc commented on #159
BTW, I have tried to use
pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'master'
However, it seems I can't import SwiftValidator since it can't find this file.

[2017-01-19 12:18] davepatterson commented on #159
I don't understand @finddoc. @rupalchawla did the same as you and it worked.

[2017-03-24 09:25] smamczak commented on #172
Please do it, I have the same problem. I'm using SwiftValidator as pod lib where I cannot set branch, only tag version as you can see here https://guides.cocoapods.org/syntax/podspec.html#dependency

[2017-03-30 15:07] kiwo12345 opened #178 "class RegexRule still not merged"
I just installed `pod 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'master'` which will install v4.0.0

But I still get the error: **cannot inherit from non-open class RegexRule outside of its defining module**

Was this never merged into master from https://github.com/jpotts18/SwiftValidator/issues/162 or https://github.com/jpotts18/SwiftValidator/pull/15

[2017-04-05 19:51] otymartin opened #179 "Memory retain cycle"
@jpotts18
I'm trying to debug leaks, none of my VC's implementing this library are calling `deinit` so I was wondering if it has to do with the way the delegate validator delegate is set. I may be wrong but it appears that this holds a strong reference to my VC?
`self.validator.validate(self)`

Also validation delegate is not declare as a class protocol so no weak references can be made to it I as

[2017-04-13 00:01] scottymac commented on #178
+1

[2017-04-19 07:42] Yetispapa commented on #178
+1

[2017-04-20 17:56] daviskoh commented on #77
+1

[2017-05-09 13:33] develth commented on #169
Do you solved this already?

[2017-05-13 09:11] PranKe01 opened #180 "Use version numbers instead of master branch"
Hi,
to make our projects versionable, it would be nice if you could create a branch with the correct version number, instead of using the master branch (at leats for swift 3). If you update the master branch it is not possible to keep the "old" running version of SwiftValidator...

Thanks =)

[2017-05-15 20:03] JoeFerrucci opened #181 "String localizations"
Localizing strings (i.e., "This field is required") would be a great enhancement.

[2017-05-25 10:23] tartacutza opened #182 "UITextFieldDelegate bug"
Hi,
After adding 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'swift-3' to my podfile, I am unable to add any actions from any Text Fields, it just shows Outlet and Outlet Collection. I needed the "swift-3" because the RegexRule class isn't 'open' and needed to extend it.

HELP!

[2017-05-30 03:57] snowywolfie commented on #178
+1

[2017-05-30 04:01] snowywolfie opened #183 "Unable to create custom password rule"
I tried to create a custom password rule that inherit regex rule. But it show
"Cannot inherit from non-open class 'RegexRule' outside of its defining module". Any solution for this?

[2017-05-31 21:10] Sadmansamee commented on #183
Find "RegexRule" and change "public class RegexRule : Rule" to "open class RegexRule : Rule"

[2017-06-13 09:00] rushabh1191 commented on #169
Did anybody solve this problem? I am getting this in Swift 3
This is pod :
 `pod` 'SwiftValidator', :git => 'https://github.com/jpotts18/SwiftValidator.git', :branch => 'master'

[2017-06-21 17:26] emadd opened #185 "How to add validation without making field required?"
It seems it's not possible to set a validation rule on a field without making it required.  i.e. - Phone number should not be required but if something is entered, validate it

[2017-06-29 14:41] rajatjain4061 commented on #185
Absolutely right, If the field is empty then it tries to validate the value. There should be a condition to check if the field does not contains RequiredRule then do not validate field with blank values.

[2017-06-30 21:27] McFriend commented on #181
YES!

[2017-07-01 00:39] peihsendoyle opened #189 "Cannot profile the project because SwiftValidator error: 'ValidatableField' is not a subtype of 'UITextField'"
Like I said on the title, we I profile (to check leak memory) I got this. (attachments)
<img width="736" alt="screen shot 2017-07-01 at 7 37 33 am" src="https://user-images.githubusercontent.com/7514128/27757779-600a79cc-5e30-11e7-8abb-4bbd70a8d670.png">
<img width="735" alt="screen shot 2017-07-01 at 7 37 38 am" src="https://user-images.githubusercontent.com/7514128/27757780-6020d4ba-5e30-11e7-98

[2017-07-11 20:00] okhanokbay commented on #54
I added this code to failed delegate method.

[code]

[2017-07-12 16:21] augustoverzbickas commented on #105
@kiwo12345 anything yet?

[2017-07-16 01:14] davepatterson commented on #178
This got merged in #175

[2017-07-16 01:14] #178 closed

[2017-07-27 03:56] rajatjain4061 commented on #183
@snowywolfie RegexRule is now an open class. Your can update your library.

[2017-07-27 04:00] rajatjain4061 commented on #180
@PranKe01 Thank you for your suggestion. Library is now maintained according to seperate branches

[2017-08-25 16:44] dungnc commented on #189
i have a same problem :(((

[2017-10-01 12:35] tkirby opened #191 "Docs are 404"
https://jpotts18.github.io/SwiftValidator/

[2017-10-05 09:25] joerick commented on #78
I'd prefer this too - currently it looks like the errors could come back asynchronously, but in fact it's much simpler, it's synchronous.

Perhaps the reason for this is a hedge in case async validation is added in the future?

[2017-10-09 06:35] salehmasum opened #192 "is SwiftValidator compatible to swift 4 ?"

[2017-10-27 11:06] StephenClarkApps opened #194 "Add phone number rule for UK numbers"
Please can you add a UKPhoneNumberRule which is identical to PhoneNumberRule but with character limit set to 11 and not ten.   A typical UK cell phone number might be something like:  07908957211

[2017-11-10 10:16] afiq90 commented on #192
second this

[2017-11-20 07:26] xthaohg commented on #169
in swift 4. i have this.

[2017-12-07 18:11] aluco100 opened #196 "Problem with regex rule"
Hi,

I'm trying to set a rule for phone validation. I need a phone begins with '+56' so I register my field with this configuration:

`validator.registerField(self.formTextField, rules: [RequiredRule(message: "The phone is required"),RegexRule(regex: "^((\\+)56)", message: "The phone must begins with +56")])`

What could be happen?

If anybody help me I'll really appreciated.

Regards

[2017-12-13 13:31] NikhilDevgire commented on #189
I have the same issue. Not able to create the build.

[2018-01-11 11:12] hadeerkamel commented on #189
add "as! UITextField"
    1- return (confirmField as! UITextField).validationText == value
    2- return !$0.validate((field as! UITextField).validationText)

[2018-01-11 12:04] hadeerkamel commented on #189
add "as! UITextField"
1-return (confirmField as! UITextField).validationText == value
2-return !$0.validate((field as! UITextField).validationText)

[2018-02-21 14:17] omidshz100 commented on #191
please help me , how can access to docs ??

[2018-02-27 08:59] popularizan opened #199 "swiftValidator compatible Swift 3.2 ?"
Module compiled with Swift 3.1 cannot be imported in Swift 3.2.3: /Users/User/Library/Developer/Xcode/DerivedData/Project-gkwjjdwfnoprergkxkcgodtqlavn/Build/Products/Debug-iphonesimulator/SwiftValidator/SwiftValidator.framework/Modules/SwiftValidator.swiftmodule/x86_64.swiftmodule

[2018-02-27 09:18] #199 closed

[2018-02-27 09:19] popularizan commented on #199
Solution :
cmd + shift + k

[2018-02-27 12:13] michzio commented on #185
Yes this seems to be issue I have empty fields without RequiredRule throwing errors so I think now there is only possibility to check by type of errors?

[2018-03-23 05:56] Arpit723 commented on #192
Is it valid for Swift 4

[2018-03-28 06:37] vdeep opened #200 "Has this project been abandoned?"
There are a few pull requests which are pending merge and have been that way for quite some time now. Is anyone going to take care of those?

Is this project still active or abandoned?

[2018-04-03 12:51] Rouix commented on #167
@smamczak Could you explain how to do this? I can not fix the code in someone else's library ...

[2018-04-03 16:56] cikpis commented on #167
@Rouix just download the library and ass public from there. This library is not worth to have it due to is not maintained.

[2018-04-03 16:56] #167 closed

[2018-04-13 18:37] bikisDesign opened #203 "Add minimum Date Rule, Social Security Number Rule, and Routing Number Rule"

[2018-04-13 18:38] #203 closed

[2018-04-19 16:35] jpotts18 opened #204 "Interested in becoming a contributor"

[2018-04-19 16:45] jpotts18 commented on #200
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:45] #200 closed

[2018-04-19 16:46] jpotts18 commented on #196
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:46] #196 closed

[2018-04-19 16:46] jpotts18 commented on #194
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:46] #194 closed

[2018-04-19 16:46] jpotts18 commented on #191
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:47] jpotts18 commented on #103
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:47] #103 closed

[2018-04-19 16:47] jpotts18 commented on #77
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:47] jpotts18 commented on #189
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:47] #189 closed

[2018-04-19 16:48] jpotts18 commented on #181
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:48] jpotts18 commented on #179
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:49] jpotts18 commented on #180
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:50] #132 closed

[2018-04-19 16:50] jpotts18 commented on #182
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:51] jpotts18 commented on #172
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:52] jpotts18 commented on #170
I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused project for who is looking to co

[2018-04-19 16:52] #170 closed

[2018-04-19 16:52] #147 closed

[2018-04-19 16:53] jpotts18 commented on #44
Declaring Backlog Bankruptcy!!

I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused

[2018-04-19 16:53] #44 closed

[2018-04-19 16:54] jpotts18 commented on #47
Declaring Backlog Bankruptcy!

I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused p

[2018-04-19 16:54] #47 closed

[2018-04-19 16:55] jpotts18 commented on #54
Declaring Backlog Bankruptcy!

I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused p

[2018-04-19 16:56] #101 closed

[2018-04-19 16:56] #82 closed

[2018-04-19 16:57] jpotts18 commented on #108
Declaring Backlog Bankruptcy!

I'm not going to lie this project took off and I'm pretty overwhelmed by it. I no longer actively code in Swift and I need help from more contributors in order to keep this project relevant. I'd like to find someone to transition as lead maintainer or help this codebase find a happy home with a company.

The codebase for this project is relatively small and focused p

[2018-04-19 16:57] #108 closed

[2018-04-21 07:50] RajatJain4061 commented on #204
@jpotts18 Please give me write permissions so that I can review and merge pull requests.

[2018-04-23 04:33] jpotts18 commented on #204
@RajatJain4061 Thanks for your help!

[2018-04-23 04:35] jpotts18 commented on #191
This has been updated!
http://swiftvalidatorcommunity.github.io/SwiftValidator/

[2018-04-23 04:35] #191 closed

[2018-04-23 04:38] #183 closed

[2018-04-23 04:45] #180 closed

[2018-05-03 04:03] #204 closed

[2018-05-15 10:25] vdeep commented on #204
@jpotts18 I'm interested in maintaining this repo as I use it in most of my projects. Can you please give me write permissions?

[2018-06-15 18:43] josueruiz7 commented on #185
Hello @RajatJain4061
are you working on this fix?

[2018-06-17 10:56] sashberd opened #206 "Set all provided error labels as hidden - new property"
Hi
In many cases all validation error labels are hidden by default while VC is loading
How about to add some flag to validation init for hidden all labels that was/will passed as error labels.
Or on registerField provide another property to pass: isLabelHidden.
This will reduce from lib user mistakes to hide/show labels

Moreover, may be on validate function call you can hide all errors if above f

[2018-06-21 00:34] gauravparvadiya opened #207 "'ViewController' does not conform to protocol 'ValidationDelegate'"
Hi,

I have added ValidationDelegate to my viewController and also implementing both required methods. But still, I am getting "Does not conform to protocol" error.

I am using Xcode 9.3 and Swift 4.1

[2018-07-18 02:22] felipe-azevedo commented on #185
@RajatJain4061, I also need this fixed. Can you fix it?

[2018-07-18 04:57] RajatJain4061 commented on #185
@josueruiz7 @felipe-azevedo I will fix this ASAP within next 2 days

[2018-07-24 17:09] felipe-azevedo commented on #185
@RajatJain4061 any news on this?

[2018-08-09 17:08] josueruiz7 commented on #185
@RajatJain4061 any news? thanks.

[2018-08-17 14:38] phuongnguyen2359 commented on #185
I think, you guys can check field has value or note to register this field.

[2018-08-17 16:40] felipe-azevedo commented on #185
@phuongnguyen2359 I expected the framework to do this. I have too many fields and I don't want to check each one for a value before validating.
@RajatJain4061 what happened to the fix? I need this, man. Thanks.

[2018-08-17 16:48] felipe-azevedo commented on #185
@phuongnguyen2359 Also, this affects every Rule, not just Regex.
For example if I have minLength and maxLength validations and the field is not required, empty would be an acceptable value, but it's not because it will violate the minLength.

[2018-08-17 16:50] RajatJain4061 commented on #185
Hopefully I’ll fix this on this Sunday. Sorry for getting delayed.

On Fri, 17 Aug 2018 at 10:18 PM, felipe-azevedo <notifications@github.com>
wrote:

--

[2018-08-17 17:06] felipe-azevedo commented on #185
Thanks, @RajatJain4061
If you want a suggestion, I'd add a property to the Validator's init to allow empty for non-required fields. If that's set to true, when you validate a field that's not required and it's empty, all validations should return true, i.e. all rules should be ignored.

[2018-08-17 17:09] RajatJain4061 commented on #185
If you think it will work then you can make the necessary changes and
create a pull request. If everything goes well then I’ll merge your PR.

On Fri, 17 Aug 2018 at 10:36 PM, felipe-azevedo <notifications@github.com>
wrote:

--
Thanks and Regards,

[2018-08-17 17:15] phuongnguyen2359 commented on #185
@felipe-azevedo if the framework do this. it's cool still wait for it. In my case, I just need email field can be empty so doing this just affects email rule

[2018-08-17 17:34] felipe-azevedo commented on #185
@phuongnguyen2359 I have big forms, 15, 20 fields all with validations. Most of the fields are required, but some are not, and to avoid having to create an exception for each of the affected rules, I wanted to fix this across the board.
@RajatJain4061 this was my suggestion for you to fix it, man. I don't have time to fix it.

[2018-08-17 17:36] RajatJain4061 commented on #185
Ok I’ll try to do it myself

On Fri, 17 Aug 2018 at 11:04 PM, felipe-azevedo <notifications@github.com>
wrote:

--
Thanks and Regards,

*Rajat Jain*
*(Software Engineer - iOS & PHP)*
Mob:8104614061
LinkedIn : https://www.linkedin.com/in/rajat-jain-945317ab
Skype Id: rajatjain4061

[2018-08-28 17:41] felipe-azevedo commented on #185
@RajatJain4061 hi, any news on this?
Thanks.

[2018-09-04 20:17] felipe-azevedo commented on #185
@RajatJain4061 can you fix this please?

[2018-09-20 11:20] Md-Rais opened #208 "Cannot call value of non-function type 'ValidatorDictionary<ValidationRule>'"
Cannot call value of non-function type 'ValidatorDictionary<ValidationRule>'

The above error is on line>>>>  validator.validations(self)

[2018-10-02 20:20] nakp opened #211 "Podspec version"
Noticed you released and tagged version 5.0.0 but the podspec still points to 4.0.0, also there is an unreleased 4.0.1 (nor even 4.0.0 was released)

As these specs were not sent yet, you could delete the tag, update the podspec and tag it again before sending these podspec to cocoapods

[2018-10-04 12:36] arbnori45 commented on #105
validate with callBack closure bro, not with delegate.

[2018-10-31 18:03] felipe-azevedo commented on #185
@RajatJain4061, @davepatterson
is this issue ever going to be fixed?
This is an important issue and I'd really appreciate if it was fixed.
It's been open for a very long time.
Thank you.

[2018-11-05 15:52] josueruiz7 commented on #185
Any news for this issue? I also need the fix.

Thanks.

[2018-11-26 07:57] autumnssun commented on #211
Take a look at the [https://github.com/CocoaPods/Specs/search?q=SwiftValidator&unscoped_q=SwiftValidator ](podspec trunk )
It looks like the trunk haven't been updated since 3.0.3.

I have updated the podspec file.
`
Pod::Spec.new do |s|
  s.name         = "SwiftValidator"
  s.version      = "5.0.0"
  s.summary      = "A UITextField Validation library for Swift"
  s.homepage     = "https://github.

[2018-12-29 16:09] krypt-lynx opened #214 "CharacterSetRule didn't marked as "open""
So, it cannot be inherited outside of the library

[2019-01-04 08:16] burcugen opened #215 "pods osx support"
Hello, Is there any plan for supporting osx targets?

[2019-03-06 12:49] yogendrakarekar opened #216 "library not updated for swift 4, gives issues"
evaluateWithObject' has been renamed to 'evaluate(with:)

[2019-03-08 08:54] RajatJain4061 commented on #216
@yogendrakarekar Library is up to date with Swift 4.2 now. Please check

[2019-03-08 08:54] #159 closed

[2019-03-26 16:38] AlbertArredondoAlfaro opened #219 "Add support for Swift 5.0"
Hi guys,

Are you planning to add support for Swift 5.0 ?

I've tested to recompile the App using Swift 5.0 and no issues arise, so you only need to recompile it and that's all.

Best regards,

Albert Arredondo

[2019-03-27 17:28] AlbertArredondoAlfaro commented on #219
I have opened a new pull request: https://github.com/SwiftValidatorCommunity/SwiftValidator/pull/220

[2019-03-27 18:48] sargent-mg opened #221 "Error: An empty identity is not valid when signing a binary for the product type 'Application'. (in target 'Validator')"
Hi guys:

After updating to Xcode 10.2 and Swift 5, when executing carthage update I get the following error:

**error: An empty identity is not valid when signing a binary for the product type 'Application'. (in target 'Validator')**

Try again on a new project and throw the same error.

Can someone help me please?

Best regards.

Adrián López Rendón

[2019-03-27 20:12] jcarioti commented on #221
Same issue here. Xcode updated to 10.2 today and now this package is our only dependency that's trying (and failing) to do code signing.

[2019-03-28 08:01] AlbertArredondoAlfaro commented on #221
Well, actually the project is not migrated to Swift 5.0. Could it be the reason?

[2019-03-28 08:05] AlbertArredondoAlfaro commented on #221
What I do to solve the problem so far was to recompile the framework manually and overwrite the SwiftValidator.framework on the Carthage directory.

[2019-04-01 20:05] jcarioti commented on #221
How did you recompile manually? I've pulled Albert's changes and tried Carthage update --platform iOS and I'm still getting the exact same error.

https://github.com/AlbertArredondoAlfaro/SwiftValidator/tree/swift-5.0

[2019-04-02 07:13] AlbertArredondoAlfaro commented on #221
Hi jcarioti,

I just press Cmd+B to build the project and pick the framework generated from the Product folder.

I think that the problem with the provisioning profile should be fixed by the people in charge of the project, but I'm not sure. So far, you could use the framework the way I tell you and either wait for the PR to be accepted or fixed by the project maintainers.

Have a nice day.

[2019-04-03 15:22] dimohamdy commented on #136
@sumitjain7  you should change  validationText in in **Validatable.swift**

[code]

[2019-04-05 15:45] ismayil097 commented on #31
It took me while to add optional error text, then found it in source code. @jpotts18 please add it to Documentation to make it easier for beginners.

` validator.registerField(fieldName, errorLabel: errorLabelfield , rules: [RequiredRule(message: "Your optional errorText")])`

[2019-04-06 00:37] jpotts18 commented on #31
@ismayil097 please send pull request with updated documentation for beginners

[2019-04-12 10:54] csabagyarmati commented on #221
The problem is that the project file contains the "Validator" Application in Targets.
If you delete this target from the project file, Carthage will compile is successfully.

[2019-04-15 15:31] AlbertArredondoAlfaro commented on #221
Yes @csabagyarmati, you right. Thank you so much!

I have update the Pull Request with the @csabagyarmati fix and I also updated the travis.yml file to use Xcode 10.2.

@sargent-mg @jcarioti Now you can use Carthage update using my fork.

[2019-04-24 18:13] pbyorke commented on #221
Albert, I am not sophisticated in Carthage, or in GitHub for that matter, but I tried putting:

github "AlbertArredondoAlfaro/SwiftValidator"

In my Cartfile, and I am still getting the empty identity error. Did I misunderstand your instructions?

[2019-04-25 06:23] AlbertArredondoAlfaro commented on #221
Hi,

You need to specify the branch as well, like this:

github "AlbertArredondoAlfaro/SwiftValidator" "swift-5.0"

[2019-04-25 14:34] pbyorke commented on #221
It works! Thank you so much! I have learned two good lessons, one is that I can pick a specific branch in my github statement and the other I've learned about the Issues function. I had never really even looked at it before :)

[2019-06-17 20:40] tsangaris opened #223 "ValidationResult error"
If you install the latest version of SwiftValidator and you get an error inside the ValidationResult.swift file make sure you add "**return**" inform of "self == .valid" like so:

`public var isValid: Bool {

        return self == .valid
    }`

[2019-10-26 12:45] IslamAbdelAziz commented on #169
any body solved This ??

[2019-10-26 12:47] IslamAbdelAziz commented on #207
Same using Xcode 11, Swift 5

[2019-12-13 09:31] Drusy opened #227 "Swift package manager support"
Since Xcode 11 includes Swift Package Manager, it would be a really nice way to include SwiftValidator

[2020-01-22 06:48] pradeep-appscoop opened #228 "getting an error "Ambiguous use of 'validate'""

[2020-01-22 06:49] pradeep-appscoop commented on #228
When I tries to make build in xcode 11.3.1 It gives an error message "Ambiguous use of 'validate' ". in UITextView+Validator.swift file

[2020-11-09 00:35] a-elnajjar opened #230 "upgrade to swift 5?"
do you have plans to update SwiftValidator to swift 5?

[2020-11-12 16:30] #230 closed, assigned to nobody

[2020-11-16 14:50] kenji21 commented on #227
see PR https://github.com/SwiftValidatorCommunity/SwiftValidator/pull/229

[2021-03-12 00:51] alexszilagyi opened #233 "HIPAA policy compliance"
I am trying to contribute to this repo but first I am facing some issues. Maybe I did not get [the documentation right](https://swiftvalidatorcommunity.github.io/SwiftValidator/).

I'm trying to add **SpecialCharacterRule.swift**

[code]
**NumericalSequencesRule.swift**
[code]
and **QwertyRule.swift**
[code]

Am I missing something? Why the conditions are not working? Meaning: **SpecialCharacterRu

[2021-05-27 09:56] rehmantalha commented on #207
I am using Xcode 12.5, swift 5 faced the same error, but instead of using the

`validator.validate(self)` and implementing the protocol i used the callback function

[code]

[2021-05-27 09:56] rehmantalha commented on #169
I am using Xcode 12.5, swift 5 faced the same error, but instead of using the

`validator.validate(self)` and implementing the protocol i used the callback function

[code]

[2021-08-31 03:08] #221 closed

[2022-06-13 17:59] KhayalSuleymani opened #235 "Need to add min-max amount rule"